.projects {
    &-wrapper {
        @apply py-4 grid sm:grid-cols-2 gap-4;

        img {
            @apply w-full h-full object-cover;
            transition: all 300ms ease-in-out;
        }

        .project {
            @apply relative w-full aspect-[4/3];

            &-content {
                @apply absolute left-0 top-0 w-full h-full opacity-0 flex justify-center flex-col p-4 gap-4;
                background-color: #24242450;
                transition: 400ms ease-in-out;
                backdrop-filter: blur(1px);
                h3,
                h5 {
                    color: var(--clr-white);
                }
                h3 {
                    @apply text-2xl sm:text-3xl lg:text-4xl 2xl:text-6xl;
                }
                .para {
                    @apply text-white text-lg;
                }
            }
            &:hover {
                img {
                    @apply grayscale;
                }
                .project-content {
                    opacity: 1;
                }
            }
            &.in-view {
                @include mobile {
                    img {
                        @apply grayscale;
                    }
                    .project-content {
                        opacity: 1;
                    }
                }
            }

            display: none;
            &.active {
                @apply block;
            }
        }
    }
}
