.homepage {
    & > *:first-child {
        margin-block: var(--mainPadding);
    }
    & > *:not(:first-child) {
        margin-bottom: var(--mainPadding);
    }

    .one-by-two {
        @apply grid max-sm:grid-cols-1 gap-4 grid-cols-2;
        padding-inline: var(--mainPadding);
    }
    .two-by-two {
        @apply grid max-sm:grid-cols-1 gap-4  grid-cols-2;
        padding-inline: var(--mainPadding);
    }
    .column {
        @apply w-full h-full flex flex-col justify-center sm:gap-4;
        img {
            @apply w-full object-cover object-center;
        }
    }

    video {
        @apply w-full aspect-video object-cover;
    }
}
