.homepage {
    & > *:first-child {
        margin-block: var(--mainPadding);
    }
    & > *:not(:first-child) {
        margin-bottom: var(--mainPadding);
    }

    .one-by-two {
        @apply grid max-sm:grid-cols-1  grid-cols-2;
        gap: var(--gap);
    }
    .two-by-two {
        @apply grid max-sm:grid-cols-1   grid-cols-2;
        gap: var(--gap);
    }
    .column {
        @apply w-full h-full flex flex-col justify-center;
        gap: var(--gap);
        img {
            @apply w-full object-cover object-center;
        }
    }

    video {
        @apply w-full aspect-video object-cover;
    }

    .ts-wrap {
        @apply flex flex-col;
        gap: var(--gap);
        border: 0.15px solid #99999950;
        padding: 1rem;
        .ts-head {
            @apply flex  justify-center;
            gap: var(--gap);
            // border-bottom: 1px solid var(--clr-gray);
            img {
                @apply w-28 aspect-square object-cover rounded-full object-center;
            }
        }
        .ts-content {
            p {
                min-height: 20ch;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
        .ts-info {
            @apply flex flex-col items-end;
            h2 {
                @apply capitalize text-lg;
                letter-spacing: 1px;
            }
            span {
                @apply capitalize text-sm;
            }
        }
    }
}

.clients-wrapper {
    @apply grid max-sm:grid-cols-3 sm:flex  sm:gap-8 flex-wrap justify-center;
    gap: var(--gap);
    .cw-wrap {
        @apply sm:w-40 h-16 sm:h-20;
        img {
            @apply w-full h-full object-contain sm:grayscale hover:grayscale-0 transition-all ease-in-out duration-200;
        }
    }
}

.splide__pagination {
    bottom: -2rem !important;
}
.splide__pagination__page {
    margin: 4px !important;
    &.is-active {
        background-color: var(--clr-black) !important;
    }
}
