.media {
    padding-block: var(--mainPadding);
    padding-top: 0;
    &-section {
        @apply gap-4 grid sm:grid-cols-3 2xl:grid-cols-4 sm:pt-[44px];

        .media-wrap {
            @apply block relative overflow-hidden aspect-[4/3];
            img {
                @apply w-full h-full object-cover;
            }
            &-content {
                @apply absolute left-0 top-0 w-full h-full opacity-0 flex justify-center flex-col p-4 gap-4;
                background-color: #24242450;
                transition: 400ms ease-in-out;
                backdrop-filter: blur(1px);
                h3,
                p {
                    color: var(--clr-white);
                }
                h3 {
                    @apply text-2xl;
                }
            }
            &:hover {
                @apply grayscale;
                .media-wrap-content {
                    @apply opacity-100;
                }
            }
            &.in-view {
                @include mobile {
                    @apply grayscale;
                    .media-wrap-content {
                        @apply opacity-100;
                    }
                }
            }
            display: none;
            &.active {
                @apply block;
            }
        }
    }
}
