.single-blog-page {
    --gap: 1rem;
    &-head {
        h2 {
            @apply text-4xl;
        }
    }
    &-content {
        @apply flex flex-col;
        .wp-block-heading {
            @apply text-2xl font-bold;
            margin-bottom: calc(var(--gap) * 1.5);
        }
        p,
        figure {
            margin: 0;
            margin-bottom: var(--gap);
        }
        figure img {
            @apply w-full;
        }
    }

    .wp-block-columns {
        @apply flex max-sm:flex-col;
        gap: var(--gap);
        @include mobile {
            gap: 0;
        }
        & > * {
            flex: 1;
        }
        .wp-block-column {
            @apply flex flex-col;
            & > * {
                @apply max-sm:order-2;
            }
            figure {
                @apply w-full h-full max-sm:order-1;
                img {
                    @apply w-full h-full;
                }
            }
        }
    }
}
