// root file
:root {
    /* font families */
    --ff-primary: "Inria Sans", sans-serif;

    /* font weights */
    --fw-normal: 400;
    --fw-bold: 700;

    /* primary color */
    --clr-black: #242424;
    --clr-gray: rgba(36, 36, 36, 0.5);
    --clr-white: #ffffff;
    --header-height: 60px;
    --sub-menu-height: 60px;
    --mainPadding: 1rem;

    --fs-para: 14px;
    --fs-primary-heading: 22px;
    --fs-sub-heading: 18px;
    --fs-banner-category: 3rem;
    --fs-banner-heading: 2rem;
    --fs-banner-para: 1.5rem;

    --gap: 1rem;

    @include media(sm) {
        --gap: 2rem;
        --fs-para: 14px;
        --fs-primary-heading: 26px;
        --fs-sub-heading: 22px;
        --fs-banner-heading: 2.5rem;
    }

    @include media(xl) {
        --fs-para: 18px;
        --fs-primary-heading: 30px;
        --fs-sub-heading: 26px;
        // --fs-banner-heading: 4rem;
    }

    @include media(3xl) {
        --fs-para: 22px;
        --fs-primary-heading: 36px;
        --fs-sub-heading: 32px;
        --header-height: 80px;
        // --fs-banner-heading: 5rem;
    }
    @include media(4xl) {
        --fs-para: 28px;
        --fs-primary-heading: 42px;
        --fs-sub-heading: 36px;
        --fs-banner-heading: 6rem;
        // --header-height: 96px;
    }
}
