// root file
:root {
    /* font families */
    --ff-primary: "Inria Sans", sans-serif;

    /* font weights */
    --fw-normal: 400;
    --fw-bold: 700;

    /* primary color */
    --clr-black: #242424;
    --clr-gray: #24242485;
    --clr-white: #ffffff;
    --header-height: 72px;
    --sub-menu-height: 72px;
    --mainPadding: 1rem;
}
