#searchBar {
    @apply px-2 py-1 w-full;
    border-bottom: 1px solid var(--clr-black);
    &:focus-within,
    &:focus,
    &:focus-visible {
        border-bottom: 1px solid var(--clr-black);

        outline: none;
    }

    &::placeholder {
        @apply text-sm;
    }
}

.anchor {
    @apply uppercase text-sm;
}

.primary-heading {
    @apply uppercase text-xl lg:text-3xl mb-4;
}
.paragraph {
    @apply text-base;
}
.secondary-heading {
    @apply text-xl;
}

.sub-menu-wrap {
    @apply flex justify-center pb-6;
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: white;
    top: var(--header-height);
    @include mobile {
        position: sticky;
    }

    .media-menu,
    .category-menu {
        @apply flex justify-center gap-4;
        .menu-link {
            @apply text-sm uppercase font-bold cursor-pointer;
            &.active {
                color: var(--clr-black);
            }
        }
    }
}

.box {
    @apply aspect-square   bg-black text-white flex justify-center items-center;
}

.btn {
    @apply py-2 px-4 w-max text-sm font-bold;
    transition: 400ms ease-in-out;
    &.btn-white {
        border: 1px solid var(--clr-white);
        color: var(--clr-white);
        &:hover {
            background-color: var(--clr-white);
            color: var(--clr-black);
        }
    }
}

.fade-box {
    .fade-target {
        & > * {
            opacity: 0.5;
            transform: translateY(2rem);
            transition: all 400ms ease-in-out;

            @for $i from 2 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 50ms;
                }
            }
        }
    }
    &:hover {
        .fade-target {
            & > * {
                opacity: 1;
                transform: translateY(0rem);
            }
        }
    }
    @include mobile {
        &.in-view {
            .fade-target {
                & > * {
                    opacity: 1;
                    transform: translateY(0rem);
                }
            }
        }
    }
}

.single-page-head {
    @apply py-8 flex  lg:gap-4 justify-center max-sm:flex-col max-sm:pb-4;
    & > * {
        flex: 1;
    }

    .project-title {
        @apply text-2xl sm:text-4xl uppercase mb-4;
    }
    .project-details {
        @apply flex flex-col gap-1 justify-center;
        p {
            strong {
                color: var(--clr-black);
            }
        }
    }
    .sph-content {
        width: min(100%, 72ch);
    }
}

.splide {
    @include landscapes {
        .splide__arrow {
            opacity: 0;
            transition: all 300ms ease-in-out;
        }

        &:hover {
            .splide__arrow {
                opacity: 1;
            }
        }
    }
}

.team-slide {
    @apply w-full aspect-[7/3];
    img {
        @apply w-full h-full object-cover;
    }
}
.left-right {
    @apply flex max-sm:flex-col gap-4 flex-1;
    .img-box {
        @apply max-sm:order-1;
        width: min(250px, 100%);
        @include mobile {
            @apply w-full;
        }

        figure {
            @apply aspect-[3/4] overflow-hidden;
            img {
                @apply h-full w-full object-cover object-top;
            }
        }
    }
    .content-box {
        @apply flex-1 flex flex-col gap-2 max-sm:order-2;
        @include tablet {
            @apply pt-12;
        }
        h2 {
            @apply text-lg sm:text-2xl font-black capitalize;
        }
        h4 {
            @apply text-sm font-black capitalize;
            text-wrap: balance;
            color: var(--clr-gray);
        }
    }
}
