#searchBar {
    @apply px-2 py-1;
    border-bottom: 1px solid var(--clr-black);
    &:focus-within,
    &:focus,
    &:focus-visible {
        border-bottom: 1px solid var(--clr-black);

        outline: none;
    }

    &::placeholder {
        @apply text-sm;
    }
}

.anchor {
    @apply uppercase text-sm;
}

.primary-heading {
    @apply uppercase text-xl lg:text-3xl mb-4;
}
.paragraph {
    @apply text-base;
}
.secondary-heading {
    @apply text-xl;
}

.sub-menu-wrap {
    @apply flex justify-center pb-6;
    z-index: 99;
    position: sticky;
    background-color: white;
    top: var(--header-height);

    .media-menu,
    .category-menu {
        @apply flex justify-center gap-4;
        .menu-link {
            @apply text-sm uppercase font-bold cursor-pointer;
            &.active {
                color: var(--clr-black);
            }
        }
    }
}

.box {
    @apply aspect-square   bg-black text-white flex justify-center items-center;
}

.btn {
    @apply py-2 px-4 w-max text-sm font-bold;
    transition: 400ms ease-in-out;
    &.btn-white {
        border: 1px solid var(--clr-white);
        color: var(--clr-white);
        &:hover {
            background-color: var(--clr-white);
            color: var(--clr-black);
        }
    }
}

.fade-box {
    .fade-target {
        & > * {
            opacity: 0.5;
            transform: translateY(2rem);
            transition: all 400ms ease-in-out;

            @for $i from 2 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 50ms;
                }
            }
        }
    }
    &:hover {
        .fade-target {
            & > * {
                opacity: 1;
                transform: translateY(0rem);
            }
        }
    }
    @include mobile {
        &.in-view {
            .fade-target {
                & > * {
                    opacity: 1;
                    transform: translateY(0rem);
                }
            }
        }
    }
}

.single-page-head {
    @apply py-8 flex flex-col gap-1 sm:gap-2 lg:gap-4 justify-center sm:items-center;

    .sph-details {
        @apply flex flex-col gap-1 justify-center sm:items-center;
        p {
            strong {
                color: var(--clr-black);
            }
        }
    }
}
