#searchBar {
    @apply px-2 py-1;
    border-bottom: 1px solid var(--clr-black);
    &:focus-within,
    &:focus,
    &:focus-visible {
        border-bottom: 1px solid var(--clr-black);

        outline: none;
    }

    &::placeholder {
        @apply text-sm;
    }
}
.anchor {
    @apply uppercase text-sm;
}

.primary-heading {
    @apply text-xl lg:text-3xl mb-2;
}
.paragraph {
    @apply text-base;
}
.secondary-heading {
    @apply text-xl;
}

.sub-menu-wrap {
    @apply flex justify-center  pb-4;
    z-index: 99;
    position: sticky;
    background-color: white;
    top: var(--header-height);

    .media-menu,
    .category-menu {
        @apply flex justify-center gap-4;
        .menu-link {
            @apply text-sm uppercase font-bold cursor-pointer;
            &.active {
                color: var(--clr-black);
            }
        }
    }
}

.box {
    @apply aspect-square   bg-black text-white flex justify-center items-center;
}

.btn {
    @apply py-2 px-4 w-max text-sm font-bold;
    transition: 400ms ease-in-out;
    &.btn-white {
        border: 1px solid var(--clr-white);
        color: var(--clr-white);
        &:hover {
            background-color: var(--clr-white);
            color: var(--clr-black);
        }
    }
}

.single-blog-page {
    --gap: 1rem;
    &-head {
        @apply flex py-8 flex-col justify-center sm:items-center;
        gap: calc(var(--gap) / 4);
        h2 {
            @apply text-4xl;
        }
    }
    &-content {
        @apply flex flex-col;
        .wp-block-heading {
            @apply text-2xl font-bold;
            margin-bottom: calc(var(--gap) * 1.5);
        }
        p,
        figure {
            margin: 0;
            margin-bottom: var(--gap);
        }
        figure img {
            @apply w-full;
        }
    }

    .wp-block-columns {
        @apply flex max-sm:flex-col;
        gap: var(--gap);
        & > * {
            flex: 1;
        }
        .wp-block-column {
            @apply flex flex-col;
            & > * {
                @apply max-sm:order-2;
            }
            figure {
                @apply w-full h-full max-sm:order-1;
                img {
                    @apply w-full h-full;
                }
            }
        }
    }
}
