.banner {
    &-wrapper {
        @apply w-full bg-no-repeat bg-center bg-cover overflow-hidden;
        background-image: var(--bannerUri);
        height: calc(100vh - var(--header-height));
        @include mobile {
            height: auto;
            aspect-ratio: 16/9;
        }
        img {
            @apply w-full h-full object-cover object-center;
        }
    }
}
