.banner {
    &-wrapper {
        @apply w-full bg-no-repeat bg-center bg-cover overflow-hidden sm:mb-4 relative;

        // background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.1), rgba(36, 36, 36, 0.75)), var(--bannerUri);

        background-image: var(--bannerUri);
        height: calc(100dvh - var(--header-height) - 1rem);
        // aspect-ratio: 9/4;
        @apply 2xl:h-auto;
        height: calc(100dvh - var(--header-height) - 1rem);
        @include mobile {
            &.sub-cat-banner {
                height: calc(100dvh - var(--header-height) - 1rem - 32px);
            }
        }
        @include tablet {
            height: auto;
            aspect-ratio: 16/9;
            width: 100%;
        }

        img {
            @apply w-full h-full object-cover object-center;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity 400ms ease-in-out;
            &.active {
                opacity: 1;
            }
        }
        .banner-cat-name {
            @apply capitalize mb-4;
            position: absolute;
            color: white;
            font-weight: 700;
            top: 3rem;
            z-index: 99;
            left: 2rem;
            font-size: var(--fs-banner-heading);
            font-size: var(--fs-banner-category);
            max-width: 32ch;
            line-height: 1.35;
        }

        .banner-content {
            @apply absolute bottom-0 left-0 p-4 sm:p-8 text-white;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            justify-content: flex-end;
            // background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.1), rgba(36, 36, 36, 0.75));
            .banner-heading {
                @apply capitalize mb-4;
                font-size: var(--fs-banner-heading);
                max-width: 32ch;
                line-height: 1.35;
            }
            .banner-para {
                // @apply text-sm sm:text-base lg:text-lg mb-4;
                @apply mb-0;
                font-size: var(--fs-banner-para);
                width: min(100%, 60ch);
                font-family: var(--ff-heading);
                @include mobile {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            &.subcat {
                opacity: 0;
                transition: opacity 400ms ease-in-out;
                z-index: 1;
                .banner-heading {
                    transition: all 400ms ease-in-out;
                    opacity: 0;
                    transform: translateY(100px);
                }
                .banner-para {
                    transition: all 400ms ease-in-out;
                    opacity: 0;
                    transform: translateY(100px);
                }
                &.abc {
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    .banner-para {
                        color: var(--clr-black);
                        width: auto;
                        max-width: 60ch;
                        font-size: 24px;
                        line-height: 1.5;
                    }
                }
                &.active {
                    opacity: 1;

                    .banner-heading {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    .banner-para {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                &.video-wrap {
                    video {
                        @apply w-full h-full object-cover object-center;
                    }
                }
            }
        }
    }

    &.blog {
        max-width: 900px;
        margin: auto;

        .banner-wrapper {
            height: auto;
            aspect-ratio: 16 / 9;
            margin-top: 1rem;

            .banner-heading {
                margin-bottom: -1rem;
                font-size: 2rem;
                line-height: 1.5;
            }
        }
    }
}
