.footer {
    // background: var(--clr-black);
    // color: var(--clr-white);
    font-size: 14px;
    color: var(--clr-black);
    &-wrapper {
        @apply flex flex-col justify-between max-sm:gap-4;
        border-top: 1px solid var(--clr-gray);
        .footer-top {
            @apply py-4 sm:py-8 flex justify-between sm:m-auto  gap-8 max-sm:flex-col;

            width: min(100%, 768px);

            .footer-heading {
                @apply text-base w-max mb-4 uppercase font-bold relative cursor-pointer;

                &::before {
                    content: "+";
                    position: absolute;
                    font-family: monospace;
                    left: calc(100% + 0.15rem);
                    top: 0;
                    text-align: center;
                    height: 100%;
                    aspect-ratio: 1/1;
                    transition: all 400ms ease-in-out;
                    display: block;
                    @include mobile {
                        display: none;
                    }
                }
                &.active::before {
                    transform: rotate(135deg);
                }

                &:hover {
                    &::before {
                        transform: rotate(135deg);
                    }
                }
            }
            .footer-content {
                @apply flex flex-col gap-4 max-sm:gap-[10px] opacity-0;
                h4 {
                    @apply capitalize;
                    color: var(--clr-gray);
                }
                .fc-wrap {
                    @apply max-sm:flex gap-8;
                    @include mobile {
                        & > *:first-child {
                            width: 100px;
                        }
                    }
                }
                opacity: 0;
                scale: 0.75;
                transition: all 400ms ease-in-out;
                &[data-social] {
                    @apply max-sm:flex max-sm:flex-row max-sm:gap-8;
                }
                [data-social-link] {
                    @apply capitalize;
                }
                &.active {
                    opacity: 1;
                    scale: 1;
                }
                @include mobile {
                    opacity: 1;
                    scale: 1;
                }
            }
            p,
            span,
            strong,
            a {
                color: var(--clr-gray);
            }
            a {
                transition: all 300ms ease-in-out;
                &:hover {
                    color: var(--clr-black);
                }
            }
        }

        .copyright {
            @apply py-4 text-center text-sm;
            border-top: 1px solid var(--clr-gray);
            color: var(--clr-gray);
        }
    }
}
