.footer {
    // background: var(--clr-black);
    // color: var(--clr-white);
    font-size: 14px;
    color: var(--clr-black);
    &-wrapper {
        @apply flex flex-col justify-between max-sm:gap-4 mt-4;
        border-top: 1px solid var(--clr-gray);
        .footer-top {
            @apply py-4 sm:py-8 flex justify-between sm:m-auto  gap-8 max-sm:flex-col;

            width: min(100%, 768px);
            &.one-active {
                height: 262px;
                @include mobile {
                    height: max-content;
                }
            }
            .footer-heading {
                @apply text-base w-max uppercase font-bold relative cursor-pointer;

                &::before {
                    content: "+";
                    position: absolute;
                    font-family: monospace;
                    left: calc(100% + 0.15rem);
                    top: 0;
                    text-align: center;
                    height: 100%;
                    aspect-ratio: 1/1;
                    transition: all 400ms ease-in-out;
                    display: block;
                    rotate: 0deg;
                    @include mobile {
                        display: none;
                    }
                }
                &:is(.active) {
                    &::before {
                        rotate: 135deg;
                    }
                }
            }
            .footer-content {
                @apply flex flex-col gap-4 max-sm:gap-[10px] opacity-0;
                h4 {
                    @apply capitalize;
                    color: var(--clr-gray);
                }
                .fc-wrap {
                    @apply max-sm:flex gap-8;
                    @include mobile {
                        & > *:first-child {
                            width: 100px;
                        }
                    }
                }
                opacity: 0;
                transform: translateY(24px);
                transition: all 400ms ease-in-out;
                height: 0;
                overflow: hidden;
                &[data-social] {
                    @apply max-sm:flex max-sm:flex-row max-sm:gap-8;
                }
                [data-social-link] {
                    @apply capitalize;
                }
                $height: 158px;
                &.active {
                    opacity: 1;
                    transform: translateY(0);
                    height: $height;
                    margin-top: 1rem;
                }
                @include mobile {
                    opacity: 1;
                    height: $height;
                    transform: translateY(0);
                    margin-top: 1rem;
                }
            }
            p,
            span,
            strong,
            a {
                color: var(--clr-gray);
            }
            a {
                transition: all 300ms ease-in-out;
                &:hover {
                    color: var(--clr-black);
                }
            }
        }

        .copyright {
            @apply py-4 text-center text-sm;
            border-top: 1px solid var(--clr-gray);
            color: var(--clr-gray);
        }
    }
}
