.footer {
    background: var(--clr-black);
    color: var(--clr-white);
    font-size: 14px;
    line-height: 20px;
    &-wrapper {
        @apply flex max-sm:flex-col justify-between gap-4;

        padding-block: calc(2 * var(--mainPadding));

        .footer-logo {
            @apply w-[120px] mb-1;
        }

        .footer-left {
            @apply flex flex-col gap-4;
            &-content {
                @apply flex flex-col gap-2;
                p {
                    @apply flex gap-[10px];
                    // opacity: 0.75;
                    transition: opacity 400ms ease-in-out;
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
        .footer-right {
            @apply flex flex-col sm:items-end sm:justify-end gap-4;

            .social-links {
                @apply flex gap-4;
                img {
                    @apply h-4;
                    cursor: pointer;
                    transition: opacity 400ms ease-in-out;
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
            .copyright {
                @apply sm:text-right;
            }
        }
    }
}
